ul.jquerFileTree(style="display: none;")
  each dir in dirs
    li.directory.collapsed
      a(href="#", rel="#{dir.rel}")= dir.name
      a.filelist-download(data-filelist-path="#{dir.path}", href="#", rel="#{dir.rel}") download
  each file in files
    li.file(class="ext_" + file.ext)
      a(href="#", rel="#{file.rel}")= file.name
      a.filelist-download(data-filelist-path="#{file.path}", href="#", rel="#{file.rel}") download
